<app-home></app-home>
<div style="width: 50%;" class="search">
  <div style="display: flex;flex-wrap: nowrap;">
    <div class="row">
      <div class="col-sm-8">
        <input type="text" [(ngModel)]="searchName"  placeholder="Search here" class="form-control">
      </div>
      <div class="col-sm-4">
        <button class="btn btn-primary hidden-xs" (click)="searchUsers()" (click)="toggleDisplayEmployee()">Search</button>
      </div>
    </div>
  </div>
</div>
 
<br>
<div class="row" *ngIf="Employee">
 
  <div class="card" style="width: 20rem;" *ngFor="let p of user">
    <div class="card-body text-center">
      <i class="fa far fa-user-circle fa-4x"></i>
      <h3 class="card-title">{{p.userFirstName}} {{p.userLastName}}</h3>
      <h5>{{p.regionName}}</h5>
      <button class="btn btn-sm btn-dark" routerLink="/profile">{{p.userEmailId}}</button>
 
    </div>
  </div>
 
</div>



<!-- <div *ngIf="users.length > 0" class="m-4"> -->
  <div *ngIf="!Employee" class="row">
    <div class="card mt-4" style="width: 20rem;" *ngFor="let users of user">
      <div class="card-body text-center">
        <i class="fa far fa-user-circle  fa-4x"></i>
        
        <h2 class="card-title">{{users.userFirstName}} {{users.userLastName}}</h2>
        <h5></h5>
        <p>
          <button class="btn btn-sm btn-dark" routerLink="/profile">
            {{users.userEmailId}}
          </button>
        </p>
      </div>
    </div>
  </div>
